<!-- views/partials/head.ejs -->
<head>
    <meta charset="UTF-8">
    <!---------------------------------------->
    <!------------LOAD STYLESHEETS------------>
    <!---------------------------------------->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/leaflet.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="/fonts/roboto-fontface/css/roboto/roboto-fontface.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/fonts/roboto-fontface/css/roboto-condensed/roboto-condensed-fontface.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/fonts/roboto-fontface/css/roboto-slab/roboto-slab-fontface.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>



    <title><%=title%></title>
</head>