<!--
CURRENT FLIGHTS PAGE
-->

<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">

    <!---------------------------------------->
    <!------------LOAD STYLESHEETS------------>
    <!---------------------------------------->
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/leaflet.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="../public/fonts/roboto-fontface/css/roboto/roboto-fontface.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="../public/fonts/roboto-fontface/css/roboto-condensed/roboto-condensed-fontface.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="../public/fonts/roboto-fontface/css/roboto-slab/roboto-slab-fontface.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="../public/stylesheets/default.css">

    <title>CEUSS - Flights</title>


</head>


<body>

<!-------------NAVIGATION BAR------------->

<nav class="navbar navbar-expand-md navbar-light bg-light" id="navBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="../public/images/Honeywell_Logo.png" class="mr-3" height="40px" width="120px">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="navBarLinks">

            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="flights_page.html">Flights</a>
            </li>
            <li class="nav-item"><!--TODO: Landing Uploads, Data, or Status?-->
                <a class="nav-link" href="landing_data_page.html">Landing Data</a>
            <li class="nav-item">
                <a class="nav-link" href="wifi_data_page.html">WiFi Strength</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="database_page.html">Database</a>
            </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <input type="checkbox" checked data-toggle="toggle" data-on="Technician" data-off="Pilot"
                   data-onstyle="primary" data-offstyle="secondary" data-width="150" id="toggleBtn">
        </div>

    </div>
</nav>



<!----------------MAP---------------->

<div>
    <div class="container">

        <div class="card" id="map">

            <!--TODO-->
            <p class="lead mb-0">Last Data Upload: </p>

        </div>

    </div>
</div>



<!---------------------------------------->
<!-------------LOAD JS FILES-------------->
<!---------------------------------------->
<script src="../public/js/leaflet.js"></script>
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/bootstrap4-toggle.min.js"></script>
<script src="../routes/map.js"></script>
</body>
</html>

