<!-- views/pages/index.ejs -->
<% const pageType = "database"; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/stylesheets/tableStyle.css">
    <link rel="stylesheet" href="/stylesheets/databasePages.css">
</head>
<body>

<header>
    <% include ../../partials/technic_header %>
</header>

<main>
    <div class="container-fluid">


            <!-------------SEARCH BAR------------->
<div class="card">
            <div class="card-body" style="height: max-content">
            <form id="clear">
                <div class="row justify-content-md-center">
                    <div class="col-md-1 pl-1 ">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" id="ID" name="ID" class="form-control" placeholder="ID">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>RDL</label>
                            <input type="text" id="RDL" class="form-control" placeholder="RDL">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>RDT/D</label>
                            <input type="text" id="RDT/D" class="form-control"  placeholder="RTD/T">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>STL</label>
                            <input type="text" id="STL" class="form-control"  placeholder="STL">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>ST/D</label>
                            <input type="text" id="ST/D" class="form-control"  placeholder="ST/D">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>UL</label>
                            <input type="text" id="UL" class="form-control"  placeholder="UL">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>WSS</label>
                            <input type="text" id="WSS" class="form-control"  placeholder="Strength">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>WID</label>
                            <input type="text" id="WID" class="form-control"  placeholder="WID">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>CODE</label>
                            <input type="text" id="CODE" class="form-control"  placeholder="CODE">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>CODE</label>
                            <select name="CodeID" class="form-control">
                                    <option>SUCCESS</option>
                                    <option>PENDING</option>
                                    <option>FAILED</option>
                            </select>
                        </div>
                    </div>
                </div>
                </form>
                <div class="text-center">
                <a class="btn btn-success btn-lg " href="#"><i class="fa fa-filter "></i> Filter</a>
                <a class="btn btn-secondary btn-lg " onclick="clear()" href="#"><i class="fa fa-eraser "></i> Clear Filter</a>
                </div>
            </div>
        </div>

            <!-------------DATABASE TABLE------------->
        <div class="container"><br><br></div>

            <section class="wrapper">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr class="filters">
                                <th>ID</th>
                                <th>RDL</th>
                                <th>RDT/D</th>
                                <th>STL</th>
                                <th>ST/D</th>
                                <th>UL</th>
                                <th>WSS</th>
                                <th>WID</th>
                                <th>CODE</th>
                                <th>STAT</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0" id="flight_data" >
                            <tbody>
                            </tbody>
                        </table>
                    </div>

            </section>
        </div>
</main>

<footer>
    <% include ../../partials/footer %>
</footer>

<!---------------------------------------->
<!-------------LOAD JS FILES-------------->
<!---------------------------------------->
<script src="/js/leaflet.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/map.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/colorHandling.js"></script>
<script>
 $(document).ready(function () {
     $('#table').DataTable({"searching": false, "ordering": false});
     $('.dataTables_length').addClass('bs-select');

     var statusTextColor;

     $.getJSON("/fakedata/CorrellatedFlight.json", function(data){
         var flight_info = '';
         $.each(data, function (key,value) {

            if(value.outcome == 'SUCCESS_UPLOAD')
            {
                flight_info += '<tr class="row success">';
                statusTextColor = '#52d29a';
            }
            else if(value.outcome == 'WARN_IN_PROGRESS')
            {
                flight_info += '<tr class="row pending">';
                statusTextColor = '#E2E736';
            }
            else
            {
                flight_info += '<tr class="row failure">';
                statusTextColor = '#e62f24';
            }
            flight_info += '<td>' + value.tailNumber +'</td>';
            flight_info += '<td>' + value.landingPoint.geometry +'</td>';
            flight_info += '<td>' + value.landingDate + '</td>';
            flight_info += '<td>' + value.takoffPoint.geometry + '</td>';
            flight_info += '<td>' + value.landingDate + '</td>';
            flight_info += '<td>' + "filler" + '</td>';
            flight_info += '<td>' + "filler" + '</td>';
            flight_info += '<td>' + "filler" + '</td>';
            flight_info += '<td>' + "filler" + '</td>';
            flight_info += '<td>' + value.outcome.fontcolor(statusTextColor) + '</td>';
            flight_info += '</tr>';

         });
         $('#flight_data').append(flight_info);
     });
  });
 </script>

</body>
</html>