<!-- views/pages/database_table.ejs -->
<% const pageType = "database"; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/stylesheets/databasePages.css">
</head>
<body>

<header>
    <% include ../../partials/technic_header %>
</header>
    <!-------------DATABASE TABLE------------->
<main>
    <div class="container-fluid row h-100 m-0 align-middle" id="pageContainer">
        <table id="dataTable" class="mb-0 table table-responsive-md table-borderless table-hover col-md-12" style="overflow-x:auto"><!--display table table-hover-->
            <thead>
            <tr id="tableHeader" style="background-color: rgba(255, 255, 255, 0.1); text-align: center;">
                <th><h4>ID</h4></th>
                <th><h4>RDL</h4></th>
                <th><h4>RDT/D</h4></th>
                <th><h4>STL</h4></th>
                <th><h4>STAT</h4></th>

            </tr>
            </thead>
            <thead style="text-align: center; background-color: #00efb2">
            <tr id="tableSearch">
                <th>ID</th>
                <th>RDL</th>
                <th>RDT/D</th>
                <th>STL</th>
                <th>STAT</th>
            </tr>
            </thead>
            <tbody id="flight_data">

            </tbody>
        </table>
    </div>
</main>



<footer>
    <% include ../../partials/footer %>
</footer>

<!---------------------------------------->
<!-------------LOAD JS FILES-------------->
<!---------------------------------------->
<script src="/js/leaflet.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script>
 $(document).ready(function () {
     var statusTextColor;
     var flight_info = '';
     $.get("/api/correlated_flight?", function (data) {
         data.forEach(function (flight) {
             if(flight.outcome == 'SUCCESS_UPLOAD')
             {
                 flight_info += '<tr class="row success">';
                 statusTextColor = '#52d29a';
             }
             else if(flight.outcome == 'WARN_IN_PROGRESS')
             {
                 flight_info += '<tr class="row pending">';
                 statusTextColor = '#E2E736';
             }
             else
             {
                 flight_info += '<tr class="row failure">';
                 statusTextColor = '#e62f24';
             }

             flight_info += '<tr><td>' + flight._id.slice(-4) +'<td>';

             if (flight.landingPoint)
             {
                 var lat = flight.landingPoint.geometry[1];
                 var lon = flight.landingPoint.geometry[0];
                 flight_info += '<td>' + lat.toFixed(3) +','+ lon.toFixed(3) +'</td>';

                 var landingDate = flight.landingDate.slice(5,7) + '/'+ flight.landingDate.slice(8,10) + '/' + flight.landingDate.slice(0,4);
                 flight_info += '<td>' + landingDate + '</td>';
             }
             else
             {
                 flight_info += '<td> in progress </td>';
                 flight_info += '<td> in progress </td>';
             }

             if (flight.takeoffPoint)
             {
                 var lat = flight.takeoffPoint.geometry[1];
                 var lon = flight.takeoffPoint.geometry[0];
                 flight_info += '<td>' + lat.toFixed(3) +','+ lon.toFixed(3) +'</td>';
             }
             else
             {
                 flight_info += '<td> in progress </td>';

             }

             flight_info += '<td>' + flight.outcome.fontcolor(statusTextColor) + '</td>';
             flight_info += '</tr>';
             $('#flight_data').append(flight_info);
             flight_info = '';
         });
     });


 });

 $("#search").click(function(){
     $.get("/api/correlated_flight?_id=" + $("#ID").val() + "&outcome=" + $("#Code").val().toLowerCase() , function (data) {
         data.forEach(function (flight)
         {
             console.log(flight._id);
         });
     });
 });
</script>
</body>
</html>
