<!--TODO: yuuck, delete/fix-->
<% const pageType = "database"; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>

    <style>
        .modal {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        /* Modal */
        .modal-content {
            margin: 10vh auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            background-color: #fefefe;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        h3, p {
            margin: 0 0 20px;
            font-weight: 400;
            color: #666;
        }
        #testResults td, #testResults h6 {
            color: black;
        }
        #testResults table {
            width: 40%;
            align-content: center;
            margin: 0 auto;
        }
        #testResults td {
            width: 100px;
        }
        .btn-primary#testBtn, .btn-outline-primary#testBtn {
            font-family: 'Roboto-Condensed', 'sans-serif';
            background-color: #00BC8C;
            border-color: #00BC8C;
        }
    </style>
</head>
<body>

<header>
    <% include ../../partials/technic_header %>
</header>

<main>
    <div class="container-fluid">


        <!-------------SEARCH BAR------------->
        <div class="card">
            <div class="card-body">
                <form id="clear">
                    <div class="row justify-content-md-center">
                        <div class="col-md-1 pl-1 ">
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" id="ID" name="ID" class="form-control" placeholder="ID">
                            </div>
                        </div>
                        <div class="col-md-1 pl-1">
                            <div class="form-group">
                                <label>UL</label>
                                <input type="text" id="UL" class="form-control"  placeholder="UL">
                            </div>
                        </div>
                        <div class="col-md-1 pl-1">
                            <div class="form-group">
                                <label>WSS</label>
                                <select name="WSSID" class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 pl-1">
                            <div class="form-group">
                                <label>WID</label>
                                <input type="text" id="WID" class="form-control"  placeholder="WID">
                            </div>
                        </div>
                        <div class="col-md-1 pl-1">
                            <div class="form-group">
                                <label>CODE</label>
                                <select name="CodeID" class="form-control">
                                    <option>BHM</option>
                                    <option>DHN</option>
                                    <option>HSV</option>
                                    <option>MOB</option>
                                    <option>MGM</option>
                                    <option>ANC</option>
                                    <option>FAI</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 pl-1">
                            <div class="form-group">
                                <label>CODE</label>
                                <select name="CodeID" class="form-control">
                                    <option>SUCCESS</option>
                                    <option>PENDING</option>
                                    <option>FAILED</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <a class="btn btn-success btn-lg " href="#"><i class="fa fa-filter "></i> Filter</a>
                    <a class="btn btn-secondary btn-lg " onclick="clear()" href="#"><i class="fa fa-eraser "></i> Clear Filter</a>
                </div>
            </div>
        </div>

        <!-------------DATABASE TABLE------------->
        <div class="container"><br><br></div>

        <table class="table table-striped table-bordered table-sm w-100" id="table">
            <thead>
            <tr class="table-dark">
                <th>ID</th>
                <th>Upload GPS Location (UL)</th>
                <th>WAP Signal Strength (WSS)</th>
                <th>WAP ID (WID)</th>
                <th>Airport Code</th>
                <th>Status</th>
                <th>Run Test</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>134820</th>
                <td>33.348928/-84.523423</td>
                <td>Good</td>
                <td>123</td>
                <td>PHX</td>
                <td style="color: #D43832">FAILED</td>
                <td><button id="testBtn" class="button btn-primary btn-sm" data-modal="testModal">TEST</button></td>
            </tr>
            <tr>
                <th>223421</th>
                <td>33.348928/-84.523423</td>
                <td>Good</td>
                <td>123</td>
                <td>PHX</td>
                <td style="color: #D43832">FAILED</td>
                <td><button id="testBtn" class="button btn-primary btn-sm" data-modal="testModal">TEST</button></td>
            </tr>
            <tr>
                <th>3239480</th>
                <td>33.348928/-84.523423</td>
                <td>Good</td>
                <td>123</td>
                <td>PHX</td>
                <td style="color: #D43832">FAILED</td>
                <td><button id="testBtn" class="button btn-primary btn-sm" data-modal="testModal">TEST</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="testModal" class="modal">
        <div class="modal-content">
            <a class="close">&times;</a>

            <h3 class="text-center" style="font-family: 'Roboto-Bold', 'sans-serif'">TEST RESULT</h3>

            <div id="testResults">
                <h6 class="text-center">ID:</h6>
                <table class="table-condensed table-bordered">
                    <thead>
                    <tr class="table-dark">
                        <th>Aircraft</th>
                        <th>Landings</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>PHX</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <td>LAX</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>ORD</td>
                        <td>46</td>
                    </tr>
                    </tbody>
                </table>
            </div>







        </div>
    </div>
</main>


<footer>
    <% include ../../partials/footer %>
</footer>

<!---------------------------------------->
<!-------------LOAD JS FILES-------------->
<!---------------------------------------->
<script src="/js/leaflet.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/map.js"></script>
<script src="/js/datatables.min.js"></script>

<script>
    var modalBtns = [...document.querySelectorAll(".button")];
    modalBtns.forEach(function(btn){
        btn.onclick = function() {
            var modal = btn.getAttribute('data-modal');
            document.getElementById(modal).style.display = "block";
        }
    });

    var closeBtns = [...document.querySelectorAll(".close")];
    closeBtns.forEach(function(btn){
        btn.onclick = function() {
            var modal = btn.closest('.modal');
            modal.style.display = "none";
        }
    });

    window.onclick = function(event) {
        if (event.target.className === "modal") {
            event.target.style.display = "none";
        }
    }

</script>
<script>
 $(document).ready(function () {
     $('#table').DataTable({"searching": false, "ordering": false});
     $('.dataTables_length').addClass('bs-select');
  });
 </script>
</body>
</html>