<!-- views/pages/database_table.ejs -->
<% const pageType = "database"; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/stylesheets/databasePages.css">
</head>
<body>

<header>
    <% include ../../partials/technic_header %>
</header>

<main>
    <div class="container-fluid">


            <!-------------SEARCH BAR------------->
<div class="card">
            <div class="card-body" style="height: max-content">
            <form id="clear">
                <div class="row justify-content-md-center">
                    <div class="col-md-1 pl-1 ">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" id="ID" name="ID" class="form-control" placeholder="ID">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>RDL</label>
                            <input type="text" id="RDL" class="form-control" placeholder="RDL">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>RDT/D</label>
                            <input type="text" id="RDT/D" class="form-control"  placeholder="RTD/T">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>STL</label>
                            <input type="text" id="STL" class="form-control"  placeholder="STL">
                        </div>
                    </div>
                    <div class="col-md-1 pl-1">
                        <div class="form-group">
                            <label>CODE</label>
                            <select name="CodeID" class="form-control" id="Code">
                                    <option>SUCCESS</option>
                                    <option>PENDING</option>
                                    <option>FAILED</option>
                            </select>
                        </div>
                    </div>
                </div>
                </form>
                <div class="text-center">
                <a class="btn btn-success btn-lg "  href="#"id="search"><i class="fa fa-filter "></i> Filter</a>
                <a class="btn btn-secondary btn-lg " onclick="clear()" href="#"><i class="fa fa-eraser "></i> Clear Filter</a>
                </div>
            </div>
        </div>

            <!-------------DATABASE TABLE------------->
        <div class="container"><br><br></div>

            <section class="wrapper">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0" >
                        <thead>
                            <tr class="filters">
                                <th>ID</th>
                                <th>RDL</th>
                                <th>RDT/D</th>
                                <th>STL</th>
                                <th>STAT</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0" id="flight_data" >
                            <tbody>
                            </tbody>
                        </table>
                    </div>

            </section>
        </div>
</main>

<footer>
    <% include ../../partials/footer %>
</footer>

<!---------------------------------------->
<!-------------LOAD JS FILES-------------->
<!---------------------------------------->
<script src="/js/leaflet.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script>
 $(document).ready(function () {
     var statusTextColor;
     var flight_info = '';
     $.get("/api/correlated_flight?", function (data) {
         data.forEach(function (flight) {
             if(flight.outcome == 'SUCCESS_UPLOAD')
             {
                 flight_info += '<tr class="row success">';
                 statusTextColor = '#52d29a';
             }
             else if(flight.outcome == 'WARN_IN_PROGRESS')
             {
                 flight_info += '<tr class="row pending">';
                 statusTextColor = '#E2E736';
             }
             else
             {
                 flight_info += '<tr class="row failure">';
                 statusTextColor = '#e62f24';
             }

             flight_info += '<td>' + flight._id.slice(-4) +'</td>';

             if (flight.landingPoint)
             {
                 var lat = flight.landingPoint.geometry[1];
                 var lon = flight.landingPoint.geometry[0];
                 flight_info += '<td>' + lat.toFixed(3) +','+ lon.toFixed(3) +'</td>';

                 var landingDate = flight.landingDate.slice(5,7) + '/'+ flight.landingDate.slice(8,10) + '/' + flight.landingDate.slice(0,4);
                 flight_info += '<td>' + landingDate + '</td>';
             }
             else
             {
                 flight_info += '<td> in progress </td>';
                 flight_info += '<td> in progress </td>';
             }

             if (flight.takeoffPoint)
             {
                 var lat = flight.takeoffPoint.geometry[1];
                 var lon = flight.takeoffPoint.geometry[0];
                 flight_info += '<td>' + lat.toFixed(3) +','+ lon.toFixed(3) +'</td>';
             }
             else
             {
                 flight_info += '<td> in progress </td>';

             }

             flight_info += '<td>' + flight.outcome.fontcolor(statusTextColor) + '</td>';
             flight_info += '</tr>';
             $('#flight_data').append(flight_info);
             flight_info = '';
         });
     });


 });

 $("#search").click(function(){
     $.get("/api/correlated_flight?_id=" + $("#ID").val() + "&outcome=" + $("#Code").val().toLowerCase() , function (data) {
         data.forEach(function (flight)
         {
             console.log(flight._id);
         });
     });
 });
</script>
</body>
</html>