<!-- views/pages/database_diagnostic_test.ejs -->
<% const pageType = "database"; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body>

<header>
    <% include ../../partials/technic_header %>
</header>

<main>
    <div class="container-fluid">
        <br>
        <!-------------SEARCH BAR------------->
        <div class="card">
            <div class="card-body">
                <form id="clear">
                    <div class="row justify-content-center">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-primary btn-lg mr-3" data-toggle="modal" data-target="#noWifiAirport">No Wifi Airport</button>
                        <button type="button" class="btn btn-primary btn-lg mr-3" data-toggle="modal" data-target="#noWifiAircraft">No Wifi Aircraft</button>
                        <button type="button" class="btn btn-primary btn-lg mr-3" data-toggle="modal" data-target="#deadEDG">Dead EDG 100</button>
                        <button type="button" class="btn btn-primary btn-lg mr-3" data-toggle="modal" data-target="#wapChange">WAP Change</button>

                    </div>

                    <!-- No Wifi Airport Modal -->
                    <div id="noWifiAirport" class="modal fade" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">No Wifi Airport</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Airport ID:</label>
                                    <input type="text" id="airportCode" class="form-control"  placeholder="PHX">
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button id="noWifiAirportSearch" type="button" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- No Wifi Aircraft Modal -->
                    <div id="noWifiAircraft" class="modal fade" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">No Wifi Aircraft</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Airport ID:</label>
                                    <input type="text" id="noWifiAircraftCode" class="form-control"  placeholder="PHX">
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button id="noWifiAircraftSearch" type="button" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dead EDG 100 Modal -->
                    <div id="deadEDG" class="modal fade" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Dead EDG 100</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Tail Number:</label>
                                    <input type="text" id="deadEDGTail" class="form-control"  placeholder="N538FX">
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button id="deadEDGSearch" type="button" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- WAP Change Modal -->
                    <div id="wapChange" class="modal fade" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">WAP Change</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Tail Number:</label>
                                    <input type="text" id="wapChangeTail" class="form-control"  placeholder="N538FX">
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button id="wapChangeSearch" type="button" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container"><br><br></div>

        <section class="wrapper" id="table">
            <table class="table table-hover">
                <thead>
                <tr id="flight_data_head">
                    <th scope="col">ID</th>
                    <th scope="col">Upload GPS Location (UL)</th>
                    <th scope="col">WAP Signal Strength (WSS)</th>
                    <th scope="col">WAP ID (WID)</th>
                    <th scope="col">Airport Code</th>
                    <th scope="col">Status</th>
                    <th scope="col">Run Test</th>
                </tr>
                </thead>
                <tbody id="flight_data">
                </tbody>
            </table>

        </section>

        <div id="testModal" class="modal">
            <div class="modal-content">
                <a class="close">&times;</a>

                <h3 class="text-center" style="font-family: 'Roboto-Bold', 'sans-serif'">TEST RESULT</h3>

                <div id="testResults">
                    <h6 class="text-center" id="results-id">ID:</h6>
                    <table class="table-condensed table-bordered">
                        <thead>
                        <tr class="table-dark">
                            <th>Aircraft</th>
                            <th>Landings</th>
                        </tr>
                        </thead>
                        <tbody id="result-data">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</main>


<footer>
    <% include ../../partials/footer %>
</footer>

<!---------------------------------------->
<!-------------LOAD JS FILES-------------->
<!---------------------------------------->
<script src="/js/leaflet.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/datatables.min.js"></script>

<script>
    $(document).ready(function () {

        // var UL={};
        // var WSS={};
        // var WID={};
        // var CODE={};
        //
        // $.getJSON("/fakedata/CEDASUpload.json", function(data){
        //     $.each(data, function (key,value) {
        //         //console.log(value);
        //         UL[key] = value.uploadLocation.latitude.slice(0,6) + "," + value.uploadLocation.longitude.slice(0,7);
        //         WSS[key] = value.wapStrength;
        //         WID[key] = value.wapID;
        //         CODE[key] = value.airportCode;
        //     });
        // });

        // $.getJSON("/fakedata/CorrellatedFlight.json", function(data){
        //     var flight_info = '';
        //     var itemNum;
        //     $.each(data, function (key,value) {
        //         itemNum = key+1;
        //         //console.log(UL);
        //         if (value.outcome.includes("FAIL")) {
        //             flight_info += '<tr class="table-danger">';
        //             flight_info += '<td>' + itemNum + '</td>';
        //             flight_info += '<td>' + UL[key] + '</td>';
        //             flight_info += '<td>' + WSS[key] + '</td>';
        //             flight_info += '<td>' + WID[key] + '</td>';
        //             flight_info += '<td>' + CODE[key] + '</td>';
        //             flight_info += '<td>' + value.outcome + '</td>';
        //             flight_info += '<td><button class="btn btn-primary" id="modalBtn">' + "Test" + '</button></td>';
        //             flight_info += '</tr>';
        //             $('#flight_data').append(flight_info);
        //
        //         }
        //     });
        // });
    });

    $("#noWifiAirportSearch").click(function () {
        $('#noWifiAirport').modal('hide');
        console.log($("#airportCode").val());

        $("#flight_data_head > th").remove();
        $("#flight_data > tr").remove();



        $('#flight_data_head').append('<th scope="col">ID</th><th scope="col">Tail Number</th><th scope="col">IATA</th><th scope="col">Status Code</th>');

        $.get("/api/no_wifi_airport?iata=" + $("#airportCode").val().toUpperCase(), function (data) {

            data.forEach(function (flight) {
                let results = '<tr class="table-danger">';
                results+='<td>' + flight._id + '</td>';
                results+='<td>' + flight.tailNumber + '</td>';
                results+='<td>' + $("#airportCode").val() + '</td>';
                results+='<td>' + flight.outcome + '</td></tr>';

                $('#flight_data').append(results);
            })
        })

    });

    $("#noWifiAircraftSearch").click(function () {
        $('#noWifiAircraft').modal('hide');

        $("#flight_data_head > th").remove();
        $("#flight_data > tr").remove();

        $('#flight_data_head').append('<th scope="col">ID</th><th scope="col">Tail Number</th><th scope="col">IATA</th><th scope="col">LAT</th><th scope="col">LON</th><th scope="col">Status Code</th>');

        $.get("/api/no_wifi_aircraft?iata=" + $("#noWifiAircraftCode").val().toUpperCase(), function (data) {

            data.forEach(function (flight) {
                let results = '<tr class="table-danger">';
                results+='<td>' + flight._id + '</td>';
                results+='<td>' + flight.tailNumber + '</td>';
                results+='<td>' + $("#noWifiAircraftCode").val() + '</td>';
                results+='<td>' + flight.landingPoint.geometry[1] + '</td>';
                results+='<td>' + flight.landingPoint.geometry[0] + '</td>';
                results+='<td>' + flight.outcome + '</td></tr>';

                $('#flight_data').append(results);
            })
        })

    });

    $("#deadEDGSearch").click(function () {
        $('#deadEDG').modal('hide');
        $("#flight_data_head > th").remove();
        $("#flight_data > tr").remove();

        $('#flight_data_head').append('<th scope="col">ID</th><th scope="col">Tail Number</th><th scope="col">LAT</th><th scope="col">LON</th><th scope="col">DATE</th><th scope="col">Status Code</th>');


        $.get("/api/dead_edg?status=failed&tailNumber=" + $("#deadEDGTail").val().toUpperCase(), function (data) {

            data.forEach(function (flight) {
                let results = '<tr class="table-danger">';
                results+='<td>' + flight._id + '</td>';
                results+='<td>' + flight.tailNumber + '</td>';
                results+='<td>' + flight.landingPoint.geometry[1] + '</td>';
                results+='<td>' + flight.landingPoint.geometry[0] + '</td>';
                results += '<td>' + flight.landingDate + '</td>';
                results+='<td>' + flight.outcome + '</td></tr>';

                $('#flight_data').append(results);
            })
        })

        $.get("/api/dead_edg?status=pass&tailNumber=" + $("#deadEDGTail").val().toUpperCase(), function (data) {

            data.forEach(function (flight) {
                let results = '';

                if(flight.outcome.includes("FAIL") && flight.outcome !== "FAIL_DEAD_EDG100") {
                    results += '<tr class="table-danger">';
                    results += '<td>' + flight._id + '</td>';
                    results += '<td>' + flight.tailNumber + '</td>';
                    results += '<td>' + flight.landingPoint.geometry[1] + '</td>';
                    results += '<td>' + flight.landingPoint.geometry[0] + '</td>';
                    results += '<td>' + flight.landingDate + '</td>';
                    results += '<td>' + flight.outcome + '</td></tr>';

                    $('#flight_data').append(results);
                }
                else if(flight.outcome !== "WARN_IN_PROGRESS" && !flight.outcome.includes("FAIL")){
                    results += '<tr class="table-success">'
                    results += '<td>' + flight._id + '</td>';
                    results += '<td>' + flight.tailNumber + '</td>';
                    results += '<td>' + flight.landingPoint.geometry[1] + '</td>';
                    results += '<td>' + flight.landingPoint.geometry[0] + '</td>';
                    results += '<td>' + flight.landingDate + '</td>';
                    results += '<td>' + flight.outcome + '</td></tr>';
                    $('#flight_data').append(results);
                }
            })
        })

    });

    $("#wapChangeSearch").click(function () {
        $('#wapChange').modal('hide');

    });

</script>
</body>
</html>