<!-- views/pages/home.ejs -->
<% const pageType = "home"; %>
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head>
<body>

<header>
  <% include ../../partials/technic_header %>
</header>
<main>
        <div class="row h-100 justify-content-center align-items-center m-0">
                <div class="col-2">
                        <div class="card border-secondary mb-3">
                                <h4 class="card-header">Flights In Progress</h4>
                                <div class="card-body">
                                        <p>place holder</p>
                                </div>
                        </div>
                </div>
                <div class="col px-0">
                        <div id="map"></div>
                </div>
        </div>
</main>
<footer>
  <% include ../../partials/footer %>
</footer>

<!---------------------------------------->
<!-------------LOAD JS FILES-------------->
<!---------------------------------------->
<script src="/js/leaflet.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/map.js"></script>

<script>
        $(document).ready(function () {

                $.getJSON("/fakedata/CorrellatedFlight.json", function(data){
                        $.each(data, function (key,value) {

                                marker = new L.circleMarker([value.landingPoint.geometry[0], value.landingPoint.geometry[1]], whiteIcon)
                                        .bindPopup("<b>Tail Number: </b>" + value.tailNumber +
                                                "<br /><b>X: </b>" + value.landingPoint.geometry[0] +
                                                "<br /><b>Y: </b>" + value.landingPoint.geometry[1])
                                        .addTo(map);
                        });
                });
        });

</script>
</body>
</html>