
.container-fluid #searchBar {
    background-color: #adb5bd;
    overflow-x: hidden;
    height: auto;
}


.container-fluid #searchBarTitle {
    font-family: 'Roboto-Black', sans-serif;
}

.container-fluid h6 {
    font-family: 'Roboto-Condensed-Bold', sans-serif;
}

.container-fluid #searchBarList {
    font-family: 'Roboto-Light', sans-serif;
}

.container-fluid #searchBarSubmitBtn {
    font-family: 'Roboto-Thin', sans-serif;
}



