<!-- views/pages/technic_upload_status.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container-fluid m-2">
        <div class="row">
            <div class="col-12">
                <div class="row">

                    <div class="col-3" id="searchBar">
                        <h4 id="searchBarTitle">FILTER DATA</h4>
                        <form class="p-2">

                            <div class="form-group" id="searchBarList">
                                <h6>Upload Status</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="statusFailed">
                                    <label class="form-check-label" for="statusFailed">
                                        Failed
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="statusPending">
                                    <label class="form-check-label" for="statusPending">
                                        Pending
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="statusSuccess">
                                    <label class="form-check-label" for="statusFailed">
                                        Success
                                    </label>
                                </div>
                            </div>

                            <div class="form-group form-inline">
                                <label for="inputPassword6">LAT</label>
                                <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">

                            </div>

                            <button class="btn btn-primary float-right" id="searchBarSubmitBtn" type="submit">Search</button>
                        </form>

                    </div>

                    <div class="col-9">
                        <div class="container w-80 h-80">

                            <div id="map"></div>

                            <p class="lead mb-0">Last Data Upload: </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

<!---------------------------------------->
<!-------------LOAD JS FILES-------------->
<!---------------------------------------->
<script src="/js/leaflet.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/map.js"></script>

</body>
</html>